<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vbc</title>
</head>
<body>
    <ul>
        <li>Log in / Sign Up</li>
        <li>blog</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</body>
</html>